.container1 {
    position: relative;
    width:1200px ;
    height: 300px;
    margin: 240px auto;
    background: #000 ;
    bottom: -205px;
}

.container1 .boxxx {
    position: relative;
    width: calc(400px - 30px) ;
    height: calc(300px - 30px);
    background: #ff0;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}
/* .container1 .boxxx .icon1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.5s;
    z-index: 1;
} */

/* .container1 .boxxx:hover .icon1 {
    top: 20px;
    right: calc(50% - 40px);
    width: 80px;
    width: 80px;
    border-radius: 50%;
} */

/* .container1 .boxxx .icon1 .fa {
    position: absolute;
    top: 50%;
    right:50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    transition: 0.5s;
    color: #fff;


} */

/* .container1 .boxxx:hover .icon1 .fa {
    font-size:40px ;

} */
/* .container1 .boxxx .content1 {
    position: absolute;
    top: 100px;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
} */
/* .container1 .boxxx:hover .content1 {
    top: 100px;
    opacity: 1;

}


.container1 .boxxx .content1 h3 {
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    font-size:24px ;

}

.container1 .boxxx .content1 p {
    margin:0 ;
    padding: 0;
    color: #fff;

} */