
body{
  background-image: url(https://scontent-ort2-1.xx.fbcdn.net/v/t1.15752-9/101657742_919008081937737_4804712414329176064_n.jpg?_nc_cat=107&_nc_sid=b96e70&_nc_oc=AQnfOXyw7KLC2DHxTcV5OurEMHCU0Hc5IApzc_Erv5Fee6XOY87cwZmDxQYWD4L6IxM&_nc_ht=scontent-ort2-1.xx&oh=07f83545ad66a390037e495049240509&oe=5F088556);
  background-size: cover;
  
}

.boxset {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Times New Roman", Times, serif;
}

.quote {
  width: 1200px;
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
  /* align-items: center; */
}
.quote .box {
  position: relative;
  width: 360px;
  height: 400px;
  background: #ccc;
  overflow: hidden;
  transition: 0.5s;
  z-index: 2;
  box-sizing: border-box;
  padding: 30px;
  box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.2);
}
.quote .box:hover {
  box-shadow: -20px 50px 100px rgba(0, 0, 0, 0.5);
}
.quote .box p {
  margin: 0;
  padding: 0;
  font-size: 18px;
}
.quote .box:hover p {
  color: #fff;
}
.quote .box h2 {
  position: absolute;
  bottom: 30px;
  right: 30px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-transform: uppercase;
}
.quote .box:hover h2 {
  color: #fff;
}
.quote .bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  /* background: #000; */
  transition: 0.5s;
  pointer-events: none;
  width: 100%;
  height: 100%;
}
.quote .box.box1:hover ~ .bg,
.quote .box.box1:hover {
  opacity: 1;
  background: linear-gradient(#03a9f4, #e91e63);
}
.quote .box.box2:hover ~ .bg,
.quote .box.box2:hover {
  opacity: 1;
  background: linear-gradient(#ffc107, #19fd36);
}
.quote .box.box3:hover ~ .bg,
.quote .box.box3:hover {
  opacity: 1;
  background: linear-gradient(#ffc107, #e91e63);
}

.quote .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  pointer-events: none;
}
.quote .box:after {
  content: url(19278-200png);
  position: absolute;
  bottom: 10%;
  right: -10%;
  opacity: 0.1;
  background: rgba(255, 255, 255, 0.2);
  pointer-events: none;
  filter: invert(1);
}
.quote .box:after {
  filter: invert(0);
}

.nav_links {
  list-style: none;
  font-family: Homicide;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
  border: solid #686868;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}

li, a {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
    display: flex;
}

/* contact form */
.contact-form{
  margin-top: 350px;
  margin-bottom: -200px;
  width: 85%;
  max-width: 600px;
  background: #f1f1f1;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  font-family: "montserrat", sans-serif ;
}

.contact-form h1{
  margin-top: 0;
  font-weight: 200;
}

.txtb{
  border: 1px solid gray;
  margin:8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}

.txtb label{
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}

.txtb input, .txtb textarea{
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}

.btn{
 display: inline-block;
 background: orange;
 padding: 14px 0; 
 color: white;
 text-transform: uppercase;
 cursor: pointer;
 margin-top: 8px;
 width: 100%;
}

/* footer */
footer {
  background-color: #f2f2f2;
}

.foot{
  margin-top:40px;
}

footer .footer-content {
  max-width: 75rem;
  margin: 0 auto;
  text-align: center;
  padding: 2em;
}

@media (max-width: 40em) {
  footer .footer-content {
    padding: 2em 5%;
  }
}

footer .footer-content nav {
  padding-bottom: .5em;
  border-bottom: 3px solid #2d2d2d;
}

footer .footer-content nav ul {
  padding: 0;
  list-style-type: none;
}

@media (min-width: 40em) {
  footer .footer-content nav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 40em) {
  footer .footer-content nav ul li {
    display: block;
    margin: .5em auto;
  }
}

footer .footer-content nav ul li a {
  color: #2d2d2d;
  line-height: 1;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: 50em) {
  footer .footer-content nav ul li a {
    padding: 0;
  }
}

footer .footer-content__contact {
  text-align: center;
  margin-top: .5em;
}

@media (min-width: 75em) {
  footer .footer-content__contact {
    text-align: left;
    width: 49.5%;
    display: inline-block;
  }
}

footer .footer-content__copyright {
  text-align: center;
  margin-top: .5em;
}

@media (min-width: 75em) {
  footer .footer-content__copyright {
    text-align: right;
    width: 49.5%;
    display: inline-block;
  }
}