@font-face {
    src:url(C:\Users\aj\Desktop\rootfolder\fonts\HoMicIDE-EFfeCt.ttf);
    font-family: Homicide;
    
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    max-height: auto;
    max-width: auto;

}

li, a, button {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
    font-family: Homicide;
    
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    border: solid #686868;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;

}

button {
    padding:9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer; 
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);

}

.pixelart-to-css {
    box-shadow: 100px 70px 0 0 rgba(255, 0, 0, 1), 90px 80px 0 0 rgba(255, 193, 7, 1), 100px 80px 0 0 rgba(255, 0, 0, 1), 110px 80px 0 0 rgba(255, 0, 0, 1), 90px 90px 0 0 rgba(255, 0, 0, 1), 100px 90px 0 0 rgba(255, 193, 7, 1), 110px 90px 0 0 rgba(255, 0, 0, 1), 70px 100px 0 0 rgba(255, 0, 0, 1), 80px 100px 0 0 rgba(255, 0, 0, 1), 90px 100px 0 0 rgba(255, 193, 7, 1), 100px 100px 0 0 rgba(255, 193, 7, 1), 110px 100px 0 0 rgba(255, 0, 0, 1), 70px 110px 0 0 rgba(255, 0, 0, 1), 80px 110px 0 0 rgba(255, 0, 0, 1), 90px 110px 0 0 rgba(255, 193, 7, 1), 100px 110px 0 0 rgba(255, 193, 7, 1), 110px 110px 0 0 rgba(255, 193, 7, 1), 120px 110px 0 0 rgba(255, 0, 0, 1), 130px 110px 0 0 rgba(255, 0, 0, 1), 70px 120px 0 0 rgba(255, 0, 0, 1), 80px 120px 0 0 rgba(255, 0, 0, 1), 90px 120px 0 0 rgba(255, 193, 7, 1), 100px 120px 0 0 rgba(255, 193, 7, 1), 110px 120px 0 0 rgba(255, 193, 7, 1), 120px 120px 0 0 rgba(255, 0, 0, 1), 130px 120px 0 0 rgba(255, 0, 0, 1), 60px 130px 0 0 rgba(255, 0, 0, 1), 70px 130px 0 0 rgba(255, 0, 0, 1), 80px 130px 0 0 rgba(255, 152, 0, 1), 90px 130px 0 0 rgba(255, 193, 7, 1), 100px 130px 0 0 rgba(255, 193, 7, 1), 110px 130px 0 0 rgba(255, 152, 0, 1), 120px 130px 0 0 rgba(255, 0, 0, 1), 130px 130px 0 0 rgba(255, 0, 0, 1), 140px 130px 0 0 rgba(255, 0, 0, 1), 60px 140px 0 0 rgba(255, 0, 0, 1), 70px 140px 0 0 rgba(255, 0, 0, 1), 80px 140px 0 0 rgba(255, 152, 0, 1), 90px 140px 0 0 rgba(255, 152, 0, 1), 100px 140px 0 0 rgba(255, 152, 0, 1), 110px 140px 0 0 rgba(255, 152, 0, 1), 120px 140px 0 0 rgba(255, 0, 0, 1), 130px 140px 0 0 rgba(255, 0, 0, 1), 140px 140px 0 0 rgba(255, 0, 0, 1), 60px 150px 0 0 rgba(255, 0, 0, 1), 70px 150px 0 0 rgba(255, 0, 0, 1), 80px 150px 0 0 rgba(255, 0, 0, 1), 90px 150px 0 0 rgba(255, 193, 7, 1), 100px 150px 0 0 rgba(255, 193, 7, 1), 110px 150px 0 0 rgba(255, 152, 0, 1), 120px 150px 0 0 rgba(255, 152, 0, 1), 130px 150px 0 0 rgba(255, 152, 0, 1), 140px 150px 0 0 rgba(255, 0, 0, 1), 60px 160px 0 0 rgba(255, 0, 0, 1), 70px 160px 0 0 rgba(255, 0, 0, 1), 80px 160px 0 0 rgba(255, 152, 0, 1), 90px 160px 0 0 rgba(255, 152, 0, 1), 100px 160px 0 0 rgba(255, 152, 0, 1), 110px 160px 0 0 rgba(255, 193, 7, 1), 120px 160px 0 0 rgba(255, 193, 7, 1), 130px 160px 0 0 rgba(255, 193, 7, 1), 140px 160px 0 0 rgba(255, 0, 0, 1), 60px 170px 0 0 rgba(255, 0, 0, 1), 70px 170px 0 0 rgba(255, 0, 0, 1), 80px 170px 0 0 rgba(255, 193, 7, 1), 90px 170px 0 0 rgba(255, 193, 7, 1), 100px 170px 0 0 rgba(255, 152, 0, 1), 110px 170px 0 0 rgba(255, 152, 0, 1), 120px 170px 0 0 rgba(255, 152, 0, 1), 130px 170px 0 0 rgba(255, 152, 0, 1), 140px 170px 0 0 rgba(255, 0, 0, 1), 60px 180px 0 0 rgba(255, 0, 0, 1), 70px 180px 0 0 rgba(255, 0, 0, 1), 80px 180px 0 0 rgba(255, 152, 0, 1), 90px 180px 0 0 rgba(255, 193, 7, 1), 100px 180px 0 0 rgba(255, 193, 7, 1), 110px 180px 0 0 rgba(255, 152, 0, 1), 120px 180px 0 0 rgba(255, 152, 0, 1), 130px 180px 0 0 rgba(255, 152, 0, 1), 140px 180px 0 0 rgba(255, 0, 0, 1), 70px 190px 0 0 rgba(255, 0, 0, 1), 80px 190px 0 0 rgba(255, 152, 0, 1), 90px 190px 0 0 rgba(255, 0, 0, 1), 100px 190px 0 0 rgba(255, 0, 0, 1), 110px 190px 0 0 rgba(255, 0, 0, 1), 120px 190px 0 0 rgba(255, 152, 0, 1), 130px 190px 0 0 rgba(255, 0, 0, 1), 80px 200px 0 0 rgba(255, 0, 0, 1), 90px 200px 0 0 rgba(255, 0, 0, 1), 100px 200px 0 0 rgba(255, 0, 0, 1), 110px 200px 0 0 rgba(255, 0, 0, 1), 120px 200px 0 0 rgba(255, 0, 0, 1);
    height: 10px;
    width: 10px;
  }
  
 .logo {
    

        font-weight:bold;
        letter-spacing: 3px;
        border: 2px solid #686868;
        padding: 5px 20px;
} */

.center  { 
     position: absolute;
    top: 50%;
    left: 50%;
transform: translate(-50%,-50%);
color: red;
 border: 2px solid #686868; 
/* display: flex; */
 padding: 10;
margin: 0;  
 } 
 
.neon{
    position: absolute;
    top: 80%;
    left: 45%;
    transform: translate(-50%,-50%);
    margin: 50px;
    padding: 5px 20px;
    font-size: 3em;
    color: #fff;
    text-shadow: 0 0 20px #ff005b;
    display: flex;
    top: 150px;
    
    
}
.neon:after{
    content: attr(data-text) ;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color:#ff005b;
    filter: blur(15px);
}
.neon:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fe3a80;
    z-index: -2;
    opacity: .5;
    filter: blur(40px);
}

.ad {
    position: absolute;
    bottom: 100px;
    left: 16px;
    color: white;
}
.container {
    position: relative;
    text-align: center;
    color: white;
    bottom: -40px;
}

#no-wrap {
    white-space: nowrap;
}

.txt {
    position: relative;
  color: white;
  text-align: center;
  font-size: 30px;
  bottom: -50px;  
}

.cta {
    position: absolute;
    bottom: -10px;
}

.ctf{
    position: relative;
    text-align: right;
    float: right;
    bottom: 5px;
    right: -5px;
}

.art {

    position: relative;
    bottom:100px;
    
}

.container4 .card {
    position: relative;
   
    width:320px;
    height:450px;
    background:#232323;
    border-radius: 20px;
    overflow:hidden;
}

.container4 .card:before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9bdc28;
    clip-path: circle(150px at 80% );
    transition: 0.5s ease-in-out;
}
.container4 .card:hover:before {
 clip-path: circle(300px at 80% -20% );



}

.container4 .card:after {
    content: 'Garden';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
   font-style: italic;
   color: rgba(255,255,255,0.04);
}

.container4 .card .imgbx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5;
}

.container4 .card:hover .imgbx {
    top: 0%;
    transform: translatey(0%);

}

.container4 .card .imgbx img 
{
    position: absolute;
    
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-25deg);
    width: 270px;

}

.container4 .card .contentBx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container4 .card:hover .contentBx {
    height: 210px;
}

.container4 .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}
.container4 .card .contentBx .size,
.container4 .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px ;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.container4 .card:hover .contentBx .color{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}
.container4 .card .contentBx .size h3,
.container4 .card .contentBx .color h3
{
color: #fff;
font-weight: 300;
font-size: 14px;
text-transform: uppercase;
letter-spacing: 2px;
margin-right: 10px;
}
.container4 .card .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
     color: #111;
     background: #fff;
     margin: 0 5px;
     transition: 0.5s;
     color: #111;
     border-radius: 4px;
     cursor: pointer;

}

.container4 .card .contentBx .size span:hover{
    background: #9bdc28;

}
.container4 .card .contentBx .color span{
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.container4 .card .contentBx .color span:nth-child(2) {
    background: #9bdc28;
}

.container4 .card .contentBx .color span:nth-child(3) {
    background: #03a9f4;
}

.container4 .card .contentBx .color span:nth-child(4) {
    background: #e91e63;
}

.container4 .card .contentBx a {
   display: inline-block;
   padding: 10px 20px;
   background: #fff ;
   border-radius: 4px;
   margin-top: 10px ;
   text-decoration: none;
   font-weight:600 ;
   color: 111;
   opacity: 0;
   transform: translateY(50px);
   transition: 0.5s ;
}
.container4 .card .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}
.moveable {
    position: relative;
    bottom: -450px;
}
.container5 .card {
    position: relative;
    top: -455px;
   right: -70%;
   bottom: 480px;
   left: 35%;
   

    width:320px;
    height:450px;
    background:#232323;
    border-radius: 20px;
    overflow:hidden;
}

.container5 .card:before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9bdc28;
    clip-path: circle(150px at 80% );
    transition: 0.5s ease-in-out;
}
.container5 .card:hover:before {
 clip-path: circle(300px at 80% -20% );



}

.container5 .card:after {
    content: 'Garden';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
   font-style: italic;
   color: rgba(255,255,255,0.04);
}

.container5 .card .imgbx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5;
}

.container5 .card:hover .imgbx {
    top: 0%;
    transform: translatey(0%);

}

.container5 .card .imgbx img 
{
    position: absolute;
    
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-25deg);
    width: 270px;

}

.container5 .card .contentBx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container5 .card:hover .contentBx {
    height: 210px;
}

.container5 .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}
.container5 .card .contentBx .size,
.container5 .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px ;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.container5 .card:hover .contentBx .color{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}
.container5 .card .contentBx .size h3,
.container5 .card .contentBx .color h3
{
color: #fff;
font-weight: 300;
font-size: 14px;
text-transform: uppercase;
letter-spacing: 2px;
margin-right: 10px;
}
.container5 .card .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
     color: #111;
     background: #fff;
     margin: 0 5px;
     transition: 0.5s;
     color: #111;
     border-radius: 4px;
     cursor: pointer;

}

.container5 .card .contentBx .size span:hover{
    background: #9bdc28;

}
.container5 .card .contentBx .color span{
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.container5 .card .contentBx .color span:nth-child(2) {
    background: #9bdc28;
}

.container5 .card .contentBx .color span:nth-child(3) {
    background: #03a9f4;
}

.container5 .card .contentBx .color span:nth-child(4) {
    background: #e91e63;
}

.container5 .card .contentBx a {
   display: inline-block;
   padding: 10px 20px;
   background: #fff ;
   border-radius: 4px;
   margin-top: 10px ;
   text-decoration: none;
   font-weight:600 ;
   color: 111;
   opacity: 0;
   transform: translateY(50px);
   transition: 0.5s ;
}
.container5 .card .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}
.moveable {
    position: relative;
    bottom: -450px;
}

.container6 .card {
    position: relative;
    top: -910px;
   right: -800px;
   bottom: 300px;
    width:320px;
    height:450px;
    background:#232323;
    border-radius: 20px;
    overflow:hidden;
}

.container6 .card:before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9bdc28;
    clip-path: circle(150px at 80% );
    transition: 0.5s ease-in-out;
}
.container6 .card:hover:before {
 clip-path: circle(300px at 80% -20% );



}

.container6 .card:after {
    content: 'Garden';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
   font-style: italic;
   color: rgba(255,255,255,0.04);
}

.container6 .card .imgbx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5;
}

.container6 .card:hover .imgbx {
    top: 0%;
    transform: translatey(0%);

}

.container6 .card .imgbx img 
{
    position: absolute;
    
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-25deg);
    width: 270px;

}

.container6 .card .contentBx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container6 .card:hover .contentBx {
    height: 210px;
}

.container6 .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}
.container6 .card .contentBx .size,
.container6 .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px ;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.container6 .card:hover .contentBx .color{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}
.container6 .card .contentBx .size h3,
.container6 .card .contentBx .color h3
{
color: #fff;
font-weight: 300;
font-size: 14px;
text-transform: uppercase;
letter-spacing: 2px;
margin-right: 10px;
}
.container6 .card .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
     color: #111;
     background: #fff;
     margin: 0 5px;
     transition: 0.5s;
     color: #111;
     border-radius: 4px;
     cursor: pointer;

}

.container6 .card .contentBx .size span:hover{
    background: #9bdc28;

}
.container6 .card .contentBx .color span{
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.container6 .card .contentBx .color span:nth-child(2) {
    background: #9bdc28;
}

.container6 .card .contentBx .color span:nth-child(3) {
    background: #03a9f4;
}

.container6 .card .contentBx .color span:nth-child(4) {
    background: #e91e63;
}

.container6 .card .contentBx a {
   display: inline-block;
   padding: 10px 20px;
   background: #fff ;
   border-radius: 4px;
   margin-top: 10px ;
   text-decoration: none;
   font-weight:600 ;
   color: 111;
   opacity: 0;
   transform: translateY(50px);
   transition: 0.5s ;
}
.container6 .card .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}
.moveable {
    position: relative;
    bottom: -450px;
}




/* Style the form element with a border around it */
form {
   
  }
  
  /* Add some padding and a grey background color to containers */
  .container2 {
      position: relative;
    padding: 20px;
    background-color: #f1f1f1;
    bottom: 100px;
  }
  
  /* Style the input elements and the submit button */
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 1px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    top: -30px;
    right: 0px;
    
  }
  
  /* Add margins to the checkbox */
  input[type=checkbox] {
      position: relative;
    margin-top: 2px;
    
  }
  
  /* Style the submit button */
  input[type=submit] {
      position: relative;
    background-color: #4CAF50;
    color: white;
    border: none;
    
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }