@font-face {
    src:url(C:\Users\aj\Desktop\rootfolder\fonts\HoMicIDE-EFfeCt.ttf);
    font-family: Homicide;
    
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;

}

li, a, button {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
    font-family: Homicide;
    
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    border: solid #686868;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;

}

button {
    padding:9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer; 
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);

}

.pixelart-to-css {
    box-shadow: 100px 70px 0 0 rgba(255, 0, 0, 1), 90px 80px 0 0 rgba(255, 193, 7, 1), 100px 80px 0 0 rgba(255, 0, 0, 1), 110px 80px 0 0 rgba(255, 0, 0, 1), 90px 90px 0 0 rgba(255, 0, 0, 1), 100px 90px 0 0 rgba(255, 193, 7, 1), 110px 90px 0 0 rgba(255, 0, 0, 1), 70px 100px 0 0 rgba(255, 0, 0, 1), 80px 100px 0 0 rgba(255, 0, 0, 1), 90px 100px 0 0 rgba(255, 193, 7, 1), 100px 100px 0 0 rgba(255, 193, 7, 1), 110px 100px 0 0 rgba(255, 0, 0, 1), 70px 110px 0 0 rgba(255, 0, 0, 1), 80px 110px 0 0 rgba(255, 0, 0, 1), 90px 110px 0 0 rgba(255, 193, 7, 1), 100px 110px 0 0 rgba(255, 193, 7, 1), 110px 110px 0 0 rgba(255, 193, 7, 1), 120px 110px 0 0 rgba(255, 0, 0, 1), 130px 110px 0 0 rgba(255, 0, 0, 1), 70px 120px 0 0 rgba(255, 0, 0, 1), 80px 120px 0 0 rgba(255, 0, 0, 1), 90px 120px 0 0 rgba(255, 193, 7, 1), 100px 120px 0 0 rgba(255, 193, 7, 1), 110px 120px 0 0 rgba(255, 193, 7, 1), 120px 120px 0 0 rgba(255, 0, 0, 1), 130px 120px 0 0 rgba(255, 0, 0, 1), 60px 130px 0 0 rgba(255, 0, 0, 1), 70px 130px 0 0 rgba(255, 0, 0, 1), 80px 130px 0 0 rgba(255, 152, 0, 1), 90px 130px 0 0 rgba(255, 193, 7, 1), 100px 130px 0 0 rgba(255, 193, 7, 1), 110px 130px 0 0 rgba(255, 152, 0, 1), 120px 130px 0 0 rgba(255, 0, 0, 1), 130px 130px 0 0 rgba(255, 0, 0, 1), 140px 130px 0 0 rgba(255, 0, 0, 1), 60px 140px 0 0 rgba(255, 0, 0, 1), 70px 140px 0 0 rgba(255, 0, 0, 1), 80px 140px 0 0 rgba(255, 152, 0, 1), 90px 140px 0 0 rgba(255, 152, 0, 1), 100px 140px 0 0 rgba(255, 152, 0, 1), 110px 140px 0 0 rgba(255, 152, 0, 1), 120px 140px 0 0 rgba(255, 0, 0, 1), 130px 140px 0 0 rgba(255, 0, 0, 1), 140px 140px 0 0 rgba(255, 0, 0, 1), 60px 150px 0 0 rgba(255, 0, 0, 1), 70px 150px 0 0 rgba(255, 0, 0, 1), 80px 150px 0 0 rgba(255, 0, 0, 1), 90px 150px 0 0 rgba(255, 193, 7, 1), 100px 150px 0 0 rgba(255, 193, 7, 1), 110px 150px 0 0 rgba(255, 152, 0, 1), 120px 150px 0 0 rgba(255, 152, 0, 1), 130px 150px 0 0 rgba(255, 152, 0, 1), 140px 150px 0 0 rgba(255, 0, 0, 1), 60px 160px 0 0 rgba(255, 0, 0, 1), 70px 160px 0 0 rgba(255, 0, 0, 1), 80px 160px 0 0 rgba(255, 152, 0, 1), 90px 160px 0 0 rgba(255, 152, 0, 1), 100px 160px 0 0 rgba(255, 152, 0, 1), 110px 160px 0 0 rgba(255, 193, 7, 1), 120px 160px 0 0 rgba(255, 193, 7, 1), 130px 160px 0 0 rgba(255, 193, 7, 1), 140px 160px 0 0 rgba(255, 0, 0, 1), 60px 170px 0 0 rgba(255, 0, 0, 1), 70px 170px 0 0 rgba(255, 0, 0, 1), 80px 170px 0 0 rgba(255, 193, 7, 1), 90px 170px 0 0 rgba(255, 193, 7, 1), 100px 170px 0 0 rgba(255, 152, 0, 1), 110px 170px 0 0 rgba(255, 152, 0, 1), 120px 170px 0 0 rgba(255, 152, 0, 1), 130px 170px 0 0 rgba(255, 152, 0, 1), 140px 170px 0 0 rgba(255, 0, 0, 1), 60px 180px 0 0 rgba(255, 0, 0, 1), 70px 180px 0 0 rgba(255, 0, 0, 1), 80px 180px 0 0 rgba(255, 152, 0, 1), 90px 180px 0 0 rgba(255, 193, 7, 1), 100px 180px 0 0 rgba(255, 193, 7, 1), 110px 180px 0 0 rgba(255, 152, 0, 1), 120px 180px 0 0 rgba(255, 152, 0, 1), 130px 180px 0 0 rgba(255, 152, 0, 1), 140px 180px 0 0 rgba(255, 0, 0, 1), 70px 190px 0 0 rgba(255, 0, 0, 1), 80px 190px 0 0 rgba(255, 152, 0, 1), 90px 190px 0 0 rgba(255, 0, 0, 1), 100px 190px 0 0 rgba(255, 0, 0, 1), 110px 190px 0 0 rgba(255, 0, 0, 1), 120px 190px 0 0 rgba(255, 152, 0, 1), 130px 190px 0 0 rgba(255, 0, 0, 1), 80px 200px 0 0 rgba(255, 0, 0, 1), 90px 200px 0 0 rgba(255, 0, 0, 1), 100px 200px 0 0 rgba(255, 0, 0, 1), 110px 200px 0 0 rgba(255, 0, 0, 1), 120px 200px 0 0 rgba(255, 0, 0, 1);
    height: 10px;
    width: 10px;
  }
  
 .logo {
    

        font-weight:bold;
        letter-spacing: 3px;
        border: 2px solid #686868;
        padding: 5px 20px;
} */

.center  { 
     position: absolute;
    top: 50%;
    left: 50%;
transform: translate(-50%,-50%);
color: red;
 border: 2px solid #686868; 
/* display: flex; */
 padding: 10;
margin: 0;  
 } 
 
.neon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 5px;
    padding: 5px 20px;
    font-size: 4em;
    color: #fff;
    text-shadow: 0 0 20px #ff005b;
    display: flex;
    top: 150px;
    
    
}
.neon:after{
    content: attr(data-text) ;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color:#ff005b;
    filter: blur(15px);
}
.neon:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fe3a80;
    z-index: -2;
    opacity: .5;
    filter: blur(40px);
}

.ad {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
